.checkbox-list-disable{
  color: red;
  font-size: 16px;
  font-family:"Helvetica Neue";
  text-decoration:line-through;
}
.checkbox-list-enable{
  color: blue;
  font-size: 16px;
  font-family:"Helvetica Neue";
}
.main-container{
  margin-top: 20px;
  margin-left: 80px;
}
.size-box{
  width: 180px;
}