body{
  font-family: 'Mitr', sans-serif !important;
  margin: 0;
  padding: 0;
}
.checkbox-list-disable{
  font-size: 18px;
  font-family:"Helvetica Neue";
  text-decoration:line-through;
}
.checkbox-list-enable{
  font-size: 18px;
  font-family:"Helvetica Neue";
}
.main-container{
  margin-top: 20px;
  margin-left: 80px;
}
.size-box{
  width: 180px;
}
.mgt20{
  margin-top: 20px;
  width: 20%;
}
.mgl-20{
  margin-left: 25px;
}